.heading{
  /* font-family: 'Bodoni Moda', serif; */
  font-family: 'Playfair Display SC', serif;
  font-size: 60px;
}

.categ{
  font-family: 'Courgette', cursive;
  font-size: 40px;

}
.navshadow {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.6);
}
.nav-item{  
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Space Grotesk', sans-serif;
}
.navbarType{
  /* font-family: 'Cinzel Decorative', cursive; */
  font-family: 'Poiret One', cursive; 
  font-weight: 900;
  letter-spacing : 4px;
  font-size : 25px;
  padding: 5px;
}
.navlogo{
  height : 47.5px;
  width : 47.5px;
}

.buttonBack{
 background-color: #25880c;
}

.mycard-text-title{
  font-family: 'Montserrat', sans-serif;
  font-weight : bold
}
.mycard-text-desc{
  font-family: 'Montserrat', sans-serif;
  font-weight : 400;
}
.text-body-secondary{
  font-family: 'Montserrat', sans-serif;

}

.text-travel-animation {
  /* animation: travel 10s linear infinite; */
  white-space: nowrap;
  overflow: hidden;
}

.text-travel-animation span {
  height: 17px;
  display: inline-block;
  animation: travelText 4s linear infinite;
  white-space: nowrap;
}

@keyframes travel {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes travelText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


.card-img-top {
  object-fit: cover;
  height: 200px; /* Set the desired height of the image */
}
